<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PKHUD Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F99631FB19514FAC001F73CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F996320819514FAD001F73CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F996321D19514FD8001F73CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F996322719514FD8001F73CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
